html {
    overflow-x: hidden
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 28px
}

/* ==== COMMON STYLES ====*/
section {
    padding-top: 80px;
    padding-bottom: 100px;
}

@media (max-width:1200px) {
    .falsebreak {
        display: none;
    }
}

/* CUSTOM MARGINS AND PADDINGS */
.mt-5 {
    margin-top: 5rem
}

.mt-6 {
    margin-top: 6rem
}

.mb-6 {
    margin-bottom: 6rem
}

.my-6 {
    margin-top: 7rem;
    margin-bottom: 7rem
}

/* ==== FONTS AND TIPOS ===== */
h1,
h2,
h3,
h4,
h5,
h6,
.h1_subtitle {
    line-height: 1;
}

h1,
.step-by-step h2,
h3,
.h1_subtitle {
    font-size: 47px
}

.homepage h2 {
    font-size: 55px;
}

h1,
h3 {
    font-weight: 400;
}

h4 {
    color: #000;
    margin-bottom: 0;
}

.h1_subtitle {
    margin-bottom: 30px;
}

@media (max-width:576px) {

    h1,
    h3,
    .h1_subtitle {
        font-size: 30px
    }
}

a:hover {
    text-decoration: none;
}

hr {
    border-top: 3px solid #00B520;
    margin: 0 auto 20px;
    width: 445px
}

@media (max-width:991px) {
    hr {
        width: 65%
    }
}

.light {
    font-weight: 300
}

.semi-bold {
    font-weight: 600
}

.bold {
    font-weight: 700 !important
}

.Quicksand {
    font-family: Quicksand, sans-serif;
}

.f-18 {
    font-size: 18px;
}

.f-28 {
    font-size: 28px;
}

.rsk-blue {
    color: #008cff
}

.rsk_green {
    color: #00B520 !important;
}

.black {
    color: #000000;
}


/* === PROGRESS === */
.progress {
    background: #e6e7e8;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 12px;
    width: 100%;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #00b520 ;
    height: 12px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 50%; }
    100% { width: 100%; }
  }

/* ==== MAIN ==== */
.main_cont{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    margin-bottom: 18vh;
}
.main_row{
    width: 55%;
}
.text{
    padding-left: 0;
    padding-right: 0;
}
.icon{
  text-align: center;
  font-size: 25px;
  color: #00B520;
  display: flex;
  justify-content: center;
}

.main_row a:hover{
    background-color: #ebebeb;
}

.cat-card{
    display: flex;
    align-items: center;
    border-top: solid 1px #00B520;
    padding: .7em 0;
   
}
.cat-card-btm{
    display: flex;
    align-items: center;
    border-top: solid 1px #00B520;
    border-bottom: solid 1px #00B520;
    padding: .7em 0;
}
.cat-card h4{
    color: #828183;
    font-size: 18px;
}

.cat-card-btm h4{
    color: #828183;
    font-size: 18px;
}


.card-title{
    text-align: left;
    font-weight: bold;
    line-height: 3rem;
    margin-top: 2rem;
}
.card-title h2{
    font-weight: bold;
    font-size: 3.5rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.card-title p{
    color: #606163;
    margin-top: 3rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

}

.progbar {
    display: flex;
    justify-content: space-between;
    color: #58595b;
    font-size: 20px;
}

@media (max-width:835px) {
    .icon{
        font-size: 21px;
    }
}


@media (max-width:635px) {
    .card-title h2{
       font-size: 3rem;
    }
    .progbar p{
        font-size: smaller;
    }
    .main_row{
        width: 85%;
    }
    .circle-99 {
      display: none;
      
    }
    .circle-100 {
    display: none;
    }
    .back_btn{
        width: 205px;
    }
    .btn_row{
        display: flex;
        justify-content: center;
    }
    .icon{
        display: none;
    }
    .cat-card{
        justify-content: center;
    }
    .cat-card-btm{
        justify-content: center;
    }

}


/* ==== CIRCLES ==== */
.circle {
    height: auto;
    position: absolute;
}


.circle-99 {
    width: 100px;
    transform: rotateY(180deg);
    right: 0;
    bottom: 0;
 
}

.circle-100 {
    width: 25px;
    right: 10%;
    bottom: 0;
   
}

@media (max-width:768px) {
    .circle-99 {
        width: 70px;
      
    }

    .circle-100 {
   
        width: 10px;
    }
}


/* ==== NAVBAR ==== */
.logo {
    width: 150px;
    height: auto;
    transition: all .5s ease
}

.logo.header-scrolled {
    width: 90px !important;
}

.nav-link {
    color: #000 !important;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    padding: 10px 15px !important;
    font-weight: 400
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .nav-link {
        font-size: 14px;
    }
}

.navbar-nav {
    padding-top: 15px
}

.navbar {
    transition: all .5s ease;
    background: #fff
}

.navbar.header-scrolled {
    background: #FFFFFF !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after {
    vertical-align: .100em;
}

.dropdown .dropdown-menu .dropdown-toggle::after {
    vertical-align: .110em;
    transform: rotate(-90deg);
}

.navbar-expand-lg .navbar-nav .dropdown-submenu {
    padding-left: 30px;
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .dropdown-submenu {
        position: absolute;
        left: 100%;
        top: 0;
        background: white;
        border-radius: .25rem;
        padding-left: 0px;
    }

    .dropdown>.dropdown-menu,
    .dropdown>.dropdown-submenu {
        transform: scale(0);
        transition: 0.3s all ease-in-out;
        display: block;
        border: 1px solid #00B520;
    }

    .dropdown:hover>.dropdown-menu,
    .dropdown:hover>.dropdown-submenu {
        transform: scale(1);
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
}

.noevent {
    pointer-events: none;
    cursor: default !important;
}


/* ==== BUTTONS ====*/

.btn_container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: relative;
}

.btn_row{
    width: 100%;
}

.back_btn {
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    border: solid 2px #00B520;
    background-color: white;
    padding: 10px 45px;
    border-radius: 50px;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.back_btn:hover {
    -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}


