html {
    overflow-x: hidden
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 28px
}

/* ==== COMMON STYLES ====*/
section {
    padding-top: 80px;
    padding-bottom: 100px;
}

@media (max-width:1200px) {
    .falsebreak {
        display: none;
    }
}

/* CUSTOM MARGINS AND PADDINGS */
.mt-5 {
    margin-top: 5rem
}

.mt-6 {
    margin-top: 6rem
}

.mb-6 {
    margin-bottom: 6rem
}

.my-6 {
    margin-top: 7rem;
    margin-bottom: 7rem
}

/* ==== FONTS AND TIPOS ===== */
h1,
h2,
h3,
h4,
h5,
h6,
.h1_subtitle {
    line-height: 1;
}

h1,
.step-by-step h2,
h3,
.h1_subtitle {
    font-size: 47px
}

.homepage h2 {
    font-size: 55px;
}

h1,
h3 {
    font-weight: 400;
}

h4 {
    margin-bottom: 0;
}

.h1_subtitle {
    margin-bottom: 30px;
}

@media (max-width:576px) {

    h1,
    h3,
    .h1_subtitle {
        font-size: 30px
    }
}

a:hover {
    text-decoration: none;
}

hr {
    border-top: 3px solid #00B520;
    margin: 0 auto 20px;
    width: 445px
}

@media (max-width:991px) {
    hr {
        width: 65%
    }
}

.light {
    font-weight: 300
}

.semi-bold {
    font-weight: 600
}

.bold {
    font-weight: 700 !important
}

.Quicksand {
    font-family: Quicksand, sans-serif;
}

.f-18 {
    font-size: 18px;
}

.f-28 {
    font-size: 28px;
}

.rsk-blue {
    color: #008cff
}

.rsk_green {
    color: #00B520 !important;
}

.black {
    color: #000000;
}


/* === PROGRESS === */
.progress {
    background: #e6e7e8;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 12px;
    width: 100%;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #00b520 ;
    height: 12px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 33%; }
    100% { width: 66%; }
  }

/* ==== MAIN ==== */
.main_cont{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    margin-bottom: 60px;
}
.main_row{
    width: 60%;
}
.text{
    padding-right: 15px;
}

.cat-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px rgba(130, 129, 131, 0.24);
    border-right: solid 1px rgba(130, 129, 131, 0.24);
    border-left: solid 1px rgba(130, 129, 131, 0.24);
    padding: 15px 45px 15px 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #828183;
   
}

.cat-card:hover{
    background-color: #ebebeb;
    transition: ease-in-out .5s !important;
    color: #828183;
}


.cat-card-btm{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(130, 129, 131, 0.24);
    border-bottom: solid 1px rgba(130, 129, 131, 0.24);
    border-right: solid 1px rgba(130, 129, 131, 0.24);
    border-left: solid 1px rgba(130, 129, 131, 0.24);
    padding: 15px 45px 15px 45px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #828183;
}

.cat-card-btm:hover{
    background-color: #ebebeb;
    transition: ease-in-out .5s ease !important;
    color: #828183;
}


.card-title{
    text-align: left;
    font-weight: bold;
    line-height: 3rem;
    margin-top: 2rem;
}
.card-title h2{
    font-weight: bold;
    font-size: 3.5rem;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
.card-title p{
    color: #606163;
    margin-top: 3rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

}

.progbar {
    display: flex;
    justify-content: space-between;
    color: #58595b;
    font-size: 24px;
}



@media (max-width:709px) {
    .progbar p{
        font-size: 18px;
    }
    .main_row{
        width: 85%;
    }
    .cat-card{
        padding: 15px 25px 15px 25px;
        font-size: 18px;
    }
    .cat-card-btm{
        padding: 15px 25px 15px 25px;
        font-size: 18px;
    }
    .icon{
        font-size: 18px;
    }
    .card-title h2{
        font-size: 36px;
    }
    .back_btn{
        width: 100% !important;
        font-size: 18px !important;
    }
}


/* ====CIRCLES ==== */
/* circles in homepage */
.circle {
    height: auto;
    position: absolute;
}


.circle-99 {
    width: 35px;
    transform: rotateY(180deg);
    right: 0;
    bottom: 0;
 
}

.circle-100 {
    width: 25px;
    left: 12%;
    top: 32%;
   
}

.circle-1 {
    width: 65px;
    left: 0;
    bottom: 45%;
    z-index: -100;
}



@media (max-width:709px) {
    .circle-1{
        width: 32px;
    }
    .circle-100{
        display: none;
    }
    .circle-99{
        width: 15px;
    }
}

@media (max-width:441px) {
    .circle-1{
        width: 16px;
    }
    .circle-99{
        width: 7px;
    }
}



/* ==== NAVBAR ==== */
.logo {
    width: 150px;
    height: auto;
    transition: all .5s ease
}

.logo.header-scrolled {
    width: 90px !important;
}

.nav-link{
    color: #000 !important;
    font-size: 24px;
    font-family: Quicksand, sans-serif;
    position: relative;
}


.nav-link::after{
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;   
    color: #00b520; 

    transform: scaleX(.0);
    transform-origin: right;
    transition: transform 150ms ease-in;
}

.nav-link:hover::after{
    transform: scaleX(.6);
    transform-origin: left;
}


@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .nav-link {
        font-size: 18px;
    }
}

.navbar-nav {
    padding-top: 15px
}

.navbar {
    transition: all .5s ease;
    background: #fff
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after {
    vertical-align: .100em;
}

.dropdown .dropdown-menu .dropdown-toggle::after {
    vertical-align: .110em;
    transform: rotate(-90deg);
}

.navbar-expand-lg .navbar-nav .dropdown-submenu {
    padding-left: 30px;
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .dropdown-submenu {
        position: absolute;
        left: 100%;
        top: 0;
        background: white;
        border-radius: .25rem;
        padding-left: 0px;
    }

    .dropdown>.dropdown-menu,
    .dropdown>.dropdown-submenu {
        transform: scale(0);
        transition: 0.3s all ease-in-out;
        display: block;
        border: 1px solid #00B520;
    }

    .dropdown:hover>.dropdown-menu,
    .dropdown:hover>.dropdown-submenu {
        transform: scale(1);
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
}

.noevent {
    pointer-events: none;
    cursor: default !important;
}


/* ==== BUTTONS ====*/

.btn_container{
    margin-bottom: 10vh;
    width: 100%;
    margin-top: 3.7rem;
}
.btn_row{
    display: flex;
    justify-content: space-between;
}

.cta_btn{
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 55px;
    background-color: #00B520;
    color: white;
    border-radius: 50px;
    text-align: center;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 0 white;
}

.cta_btn:hover {
    box-shadow: inset 250px 0 0 0 white;
    border: solid 2px #00b520;
    cursor: pointer;
    color: black;
    font-weight: 500;
}



.back_btn {
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 55px;
    border: solid 2px #00B520;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}

.back_btn:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


.back_btn::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #00B520;
}

.back_btn:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 50px;
}



