@font-face {
	font-family: 'rootstock-sans-headline';
    src: url('../../fonts/WEB/Rootstock-Sans-Headline.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/WEB/Rootstock-Sans-Headline.woff') format('woff'), /* Ptty Modern Browsers */
    url('../../fonts/WEB/Rootstock-Sans-Headline.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/WEB/Rootstock-Sans-Headline.otf') format('otf'), 
	url('../../fonts/WEB/Rootstock-Sans-Headline.svg') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'rootstock-sans-body';
    src: url('../../fonts/WEB/Rootstock-Sans-Body.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/WEB/Rootstock-Sans-Body.woff') format('woff'), /* Ptty Modern Browsers */
    url('../../fonts/WEB/Rootstock-Sans-Body.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/WEB/Rootstock-Sans-Body.otf') format('otf'), 
	url('../../fonts/WEB/Rootstock-Sans-Body.svg') format('svg'); /* Legacy iOS */
}
html {
    overflow-x: hidden
}

body {
    font-family: 'rootstock-sans-body', sans-serif;
    font-weight: 400;
    color: white;
background-color: black;
    font-size: 16px;
    line-height: 28px
}

/* ==== COMMON STYLES ====*/
section {
    padding-top: 80px;
    padding-bottom: 100px;
}

@media (max-width:1200px) {
    .falsebreak {
        display: none;
    }
}

/* CUSTOM MARGINS AND PADDINGS */
.mt-5 {
    margin-top: 5rem
}

.mt-6 {
    margin-top: 6rem
}

.mb-6 {
    margin-bottom: 6rem
}

.my-6 {
    margin-top: 7rem;
    margin-bottom: 7rem
}

/* ==== FONTS AND TIPOS ===== */
h1,
h2,
h3,
h4,
h5,
h6,
.h1_subtitle {
    line-height: 1;
}

h1,
.step-by-step h2,
h3,
.h1_subtitle {
    font-size: 47px
}

.homepage h2 {
    font-size: 55px;
}

h1,
h3 {
    font-weight: 400;
}

h4 {
    color: #000;
    margin-bottom: 0;
}

.h1_subtitle {
    margin-bottom: 30px;
}

@media (max-width:576px) {

    h1,
    h3,
    .h1_subtitle {
        font-size: 30px
    }
}

a:hover {
    text-decoration: none;
}

hr {
    border-top: 3px solid #00B520;
    margin: 0 auto 20px;
    width: 445px
}

@media (max-width:991px) {
    hr {
        width: 65%
    }
}

.light {
    font-weight: 300
}

.semi-bold {
    font-weight: 600
}

.bold {
    font-weight: 700 !important
}

.Quicksand {
    font-family: 'rootstock-sans-body', sans-serif;
}

.f-18 {
    font-size: 18px;
}

.f-28 {
    font-size: 28px;
}

.rsk-blue {
    color: #008cff
}

.rsk_green {
    color: #00B520 !important;
}

.black {
    color: #000000;
}


/* === PROGRESS === */
.progress {
    background: #e6e7e8;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 12px;
    width: 100%;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #FF9100 ;
    height: 12px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 33%; }
    100% { width: 66%; }
  }

/* ==== MAIN ==== */
.main_cont{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    margin-bottom: 60px;
}
.main_row{
    width: 60%;
}
.text{
    padding-right: 15px;
}

.cat-card{
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
    border-top: solid 1px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    padding: 15px 45px 15px 45px;
    font-family: 'rootstock-sans-body', sans-serif;
    font-size: 24px;
    color: white;
}

.cat-card:hover{
    background-color: #FF9100;
    transition: ease-in-out .5s !important;
    color: white;
}


.cat-card-btm{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-radius: 7px;
    padding: 15px 45px 15px 45px;
    align-items: center;
    font-family: 'rootstock-sans-body', sans-serif;
    font-size: 24px;
    color: white;
}

.cat-card-btm:hover{
    background-color: #FF9100;
    transition: ease-in-out .5s ease !important;
    color: white;
}


.card-title{
    text-align: left;
    font-weight: bold;
    line-height: 3rem;
    margin-top: 2rem;
}
.card-title h2{
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
    font-family: 'rootstock-sans-headline', sans-serif;
}
.card-title p{
    color: white;
    margin-top: 3rem;
    font-family: 'rootstock-sans-body', sans-serif;
    font-size: 20px;

}

.progbar {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
}



@media (max-width:709px) {
    .progbar p{
        font-size: 18px;
    }
    .main_row{
        width: 85%;
    }
    .cat-card{
        padding: 15px 25px 15px 25px;
        font-size: 18px;
    }
    .cat-card-btm{
        padding: 15px 25px 15px 25px;
        font-size: 18px;
    }
    .icon{
        font-size: 18px;
    }
    .card-title h2{
        font-size: 36px;
    }
    .back_btn{
        width: 100% !important;
        font-size: 18px !important;
    }
}






/* ==== NAVBAR ==== */
/* ==== NAVBAR ==== */
.logo {
    width: 150px;
    height: auto;
    transition: all .5s ease
}

.logo.header-scrolled {
    width: 90px !important;
}

.nav-link{
    font-size: 18px;
    font-family: 'rootstock-sans-body', sans-serif;
    background-color: #000;
    border: 1px solid #faf9f5;
    color: #faf9f5;
    border-radius: 40px;
    padding: 10px 15px;
    position: relative;
    display: block;
}



.nav-link:after {
    border: 1px solid #faf9f5;
    border-radius: 40px;
    content: "";
    display: inline-block;
    height: 100%;
    left: 5px;
    padding: inherit;
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: -1;
}

.nav-link:hover{
    background-color: #faf9f5;
    color: #000;
}


@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .nav-link {
        font-size: 18px;
    }
}

.navbar-nav {
    padding-top: 15px
}

.navbar {
    transition: all .5s ease;
    background: black;
    z-index: 1;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after {
    vertical-align: .100em;
}

.dropdown .dropdown-menu .dropdown-toggle::after {
    vertical-align: .110em;
    transform: rotate(-90deg);
}

.navbar-expand-lg .navbar-nav .dropdown-submenu {
    padding-left: 30px;
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .dropdown-submenu {
        position: absolute;
        left: 100%;
        top: 0;
        background: white;
        border-radius: .25rem;
        padding-left: 0px;
    }

    .dropdown>.dropdown-menu,
    .dropdown>.dropdown-submenu {
        transform: scale(0);
        transition: 0.3s all ease-in-out;
        display: block;
        border: 1px solid #00B520;
    }

    .dropdown:hover>.dropdown-menu,
    .dropdown:hover>.dropdown-submenu {
        transform: scale(1);
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
}

.noevent {
    pointer-events: none;
    cursor: default !important;
}

/* ==== BUTTONS ====*/

.btn_container{
    margin-bottom: 10vh;
    width: 100%;
    margin-top: 3.7rem;
}
.btn_row{
    display: flex;
    justify-content: space-between;
}

.white-outline-btn{
    font-size: 18px;
    font-family: 'rootstock-sans-body', sans-serif;
    background-color: #000;
    border: 1px solid #faf9f5;
    color: #faf9f5;
    border-radius: 40px;
    padding: 10px 15px;
    position: relative;
    display: block;
}



.white-outline-btn:after {
    border: 1px solid #faf9f5;
    border-radius: 40px;
    content: "";
    display: inline-block;
    height: 100%;
    left: 5px;
    padding: inherit;
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: -1;
}

.white-outline-btn:hover{
    background-color: #faf9f5;
    color: #000;
}



.back_btn {
    font-family: 'rootstock-sans-body', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.back_btn:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
}




